<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="rtl">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
 


<br><br><br>
<div class="container">
  <h3 style="text-align: center;">فرم ثبت نام دانشجو</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">نام</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="نام" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">نام خانوادگی</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="نام خانوادگی" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">تماس</label>
          {% render_field studentForm.mobile|attr:'required:true'  class="form-control" placeholder="تماس" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">آدرس</label>
          {% render_field studentForm.address|attr:'required:true'  class="form-control" placeholder="آدرس" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">نام کاربری</label>
          {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="نام کاربری" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">پسورد</label>
          {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="پسورد" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">عکس پروفایل</label>
          {% render_field studentForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">ثبت نام</button>
  </form>
</div>


<br><br>
{% include "exam/footer.html" %}
  </body>
</html>
